.section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section.-hero {
	background-image: url("../img/bg image 1.jpg");
	background-size: 101%;
	flex-direction: column;
	justify-content: space-between;
}

.btn {
	display: inline-block;
	color: var(--c-black);
	background: var(--c-yellow-gradient);
	border-radius: 4px;
	padding: 10px 20px;
	margin-left: 450px;
	margin-top: 20px;
}

.logo {
	margin-right: 10px;	
}

@media screen and (max-width: 450px) {
	.section.-hero{
		background-size: 1200px;
		background-position: -350px -100px;
	}

	.btn{
		margin-left: 25px;
	}

	.title{
		font-size: 33px;
	}

	.subtitle{
		font-size: 18px;
	}

	.scroll__down{
		
	}
}

.section.-about {
	background-image: url("../img/bg image 2.jpg");
}