.slider__item{
	position: absolute;
	width: 400px;
}

.slider__item.-one{
	right: 120px;
	height: 600px;
	bottom: 100px;
}

.slider__item.-two{
	right: 100px;
	height: 550px;
	bottom: 125px;
}

.slider__item.-three{
	right: 80px;
	height: 500px;
	bottom: 150px;
}

.slider__controls{
	position: absolute;
	bottom: -15px;
	right: 290px;
	transform: rotate(-90deg);
}

.slider__control{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid var(--c-white);
	margin-bottom: 50px;
}

.slider__control.-active{
	background-color: var(--c-white);
}

.slider__triangle{
	position: absolute;
	top: 333px;
	right: 30px;
	border: 20px solid
	transparent; 
	border-left: 20px solid var(--c-white);
}