.title {
	font-size: 80px;
	color: var(--c-white);
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	letter-spacing: 3px;
}

.subtitle {
	font-size: 24px;
	color: var(--c-white);
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	letter-spacing: 3px;
}

.info {
	font-size: 18px;
	color: var(--c-white);
}

.info__title {
	font-size: 36px;
	color: var(--c-yellow);
}

.nav__link {
	font-size: 12px;
	color: var(--c-white);
	margin-left: 20px;
}

.scroll__down {
	color: var(--c-white);
	margin-top: 0px;
}